<%-include("header")-%>
    <main class="main">
        <section class="pt-0 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row justify-content-center align-items-center vh-100">
                            <div class="col-lg-5">
                                <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1">
                                            <h3 class="mb-30">Forgot Password </h3>
                                        </div>
                                        <div style="margin-bottom: 40px;">
                                            <% if (message) { %>
                                              <div id="errorMessage" class="alert alert-danger text-center mt-5" role="alert">
                                                <%= message %>
                                              </div>
                                              <% } else { %>
                                                <div class="message-placeholder" style="color: red;">Enter the e-mail you have registered</div>
                                            <% } %>
                                        </div>
                                        <form method="post" action="/verifyOTP">
                                              <div class="form-group">
                                                <input type="email" class="form-control" style="margin-bottom: 20px" placeholder="Email" name="email" id="email">
                                                <small id="emailError"></small>
                                              </div>
  
                                            <div class="form-group">
                                              <div id="emailErrorMessage" class="text-danger"></div>
                                              <button id="otpbtn" style="margin-bottom: 15px;" class="btn btn-fill-out btn-block hover-up">Send OTP</button>
                                              <input type="text" name="otp" placeholder="Enter OTP" id="otp">
                                              <small id="otpError"></small>
                                          </div>
                                          <div class="form-group">
                                            <button type="submit" class="btn btn-fill-out btn-block hover-up" id="verifyOTP">Verify OTP</button>
                                          </div>
                                                <small class="text-muted">Don't have an account?</small><a class="text-muted" href="/register"> Sign Up</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

<%-include("footer")-%>

<script>

function validateEmail() {
    console.log("Reached validateEmail");
    const emailRegex = /^[a-z0-9._%+-]+@gmail+\.[a-z]{3}$/;
    const email = document.getElementById('email').value;
    const emailError = $('#emailError'); 
    let isValid = true; 
    if (email.trim() === '') {
        emailError.text('Email cannot be empty');
        clearErrorWithDelay(emailError);
        isValid = false;
    } else if (!emailRegex.test(email)) {
        emailError.text('Please enter a valid email');
        clearErrorWithDelay(emailError);
        isValid = false;
    } else {
        emailError.text(''); 
    }

    return isValid;
}

// Function to clear the error message after a delay
function clearErrorWithDelay(errorElement) {
    setTimeout(function() {
        errorElement.text(''); 
    }, 5000); 
}

  $(document).ready(function() {
      let otpSent = false; 
      $('#verifyOTP').click(function(event) {
          event.preventDefault(); 
            const emailRegex = /^[A-Za-z0-9._%-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/;
        //   const emailRegex = /^[a-z0-9._%+-]+@gmail+\.[a-z]{3}$/;
          const otpError = $('#otpError'); 
          const userOTP = document.getElementById('otp').value;
          const email = document.getElementById('email').value;
          const emailErrorMessage = $('#emailErrorMessage'); 
          if (email === "") {
            emailErrorMessage.text('Email cannot be empty'); 
              setTimeout(() => {
                emailErrorMessage.text(''); 
              },5000);
              return; 
          }
          if (!emailRegex.test(email)) {
            emailErrorMessage.text('Please enter a valid email');
            setTimeout(() => {
              emailErrorMessage.text(''); 
              },5000);
              return;
            }

          if (userOTP === "") {
              otpError.text('OTP cannot be empty'); 
              setTimeout(() => {
                otpError.text(''); 
              },5000);
              return; 
      }else{
          
          $.ajax({
            url: '/verifyotp',
            method: 'post',
            data: { email: email, otp: userOTP },
            success: function(response) {
                // Handle the success response
                // if (response) {
                  console.log('Success:', response);
                  console.log("Recevied Responce");
                  console.log('Error Message:', response.errMessage);
                  // if (response.errMessage) {
                  //   otpError.text(response.errMessage); // Set the error message text
                  //   setTimeout(() => {
                  //     otpError.text(''); 
                  //   },5000);
                  //   return; 
                  // }

                  if (response.errMessage) {
           
            $('.message-placeholder').text(response.errMessage);

           
            setTimeout(() => {
                $('.message-placeholder').text('Enter the e-mail you have registered');
            }, 5000);
        }else{
          window.location.href = '/resetpassword'; 

        }

               
                otpSent = true;
            },
            error: function(xhr, textStatus, errorThrown) {
                
                console.error('Error:', errorThrown);
                sendOtpButton.prop('disabled', false);
            }
        });

        }
      });


      $('#otpbtn').click(function(event) {
          event.preventDefault(); 
          
         
  
         
          const email = document.getElementById('email').value;
          const sendOtpButton = $('#otpbtn');
          const emailErrorMessage = $('#emailErrorMessage');
  
          
          if (email === "") {
              emailErrorMessage.text('Email is missing');
              setTimeout(() => {
              emailErrorMessage.text(''); 
              },5000);
              return; 
      }else{
         
          sendOtpButton.prop('disabled', true);
  
          $.ajax({
              url: '/send-otp',
              method: 'post',
              data: { mail: email },
              success: function(response) {
                
                  console.log('Success:', response);
                  otpSent = true;
              },
              error: function(xhr, textStatus, errorThrown) {
                 
                  console.error('Error:', errorThrown);
                  sendOtpButton.prop('disabled', false); 
              }
          });
      
  
          
          sendOtpButton.text('Resend OTP');
  
         
          setTimeout(function() {
              sendOtpButton.prop('disabled', false);
          },1 * 60 * 1000); 
      }
      });
  
  });
  
  
  </script>