<%-include("header")-%>

    <main class="main">
        <section class="pt-0 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row justify-content-center align-items-center vh-100">
                            <div class="col-lg-5">
                                <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1">
                                            <h3 class="mb-30">Login</h3>
                                        </div>
                                        <div style="margin-bottom: 40px;">
                                            <% if (message) { %>
                                                <div id="successMessage" class="alert alert-success text-center mt-5" role="alert">
                                                  <%= message %>
                                                </div>
                                              <% } %>
                                              
                                              <% if (errMessage) { %>
                                                <div id="errorMessage" class="alert alert-danger text-center mt-5" role="alert">
                                                  <%= errMessage %>
                                                </div>
                                              <% } %> 
                                        </div>
                                        <form method="post" onsubmit="return userloginValidation()">
                                              <div class="form-group">
                                                <input type="email" class="form-control" style="margin-bottom: 20px" placeholder="Email" name="email" id="email">
                                                <small id="emailError"></small>
                                              </div>
  
                                              <div class="form-group">
                                                  <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                                                  <small id="passwordError"></small>
                                              </div>
                                            <div class="login_footer form-group">
                                                <div class="chek-form">
                                                    <div class="custome-checkbox">
                                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1" value="">
                                                        <label class="form-check-label" for="exampleCheckbox1"><span>Remember me</span></label>
                                                    </div>
                                                </div>
                                                <a class="text-muted" href="/forgotpassword">Forgot password?</a>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-fill-out btn-block hover-up" name="login">Log in</button>
                                            </div>
                                                <small class="text-muted">Don't have an account?</small><a class="text-muted" href="/register"> Sign Up</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

<%-include("footer")-%>