<%-include("header")-%>

    <main class="main">
        <section class="pt-0 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row justify-content-center align-items-center vh-100">
                            <div class="col-lg-5">
                                <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1">
                                            <h3 class="mb-30">Reset Password </h3>
                                        </div>
                                        <div style="margin-bottom: 40px;">
                                            <% if (message) { %>
                                              <div id="successMessage" class="alert alert-success text-center mt-5" role="alert">
                                                <%= message %>
                                              </div>
                                            <% } %>
                                            
                                            <% if (errMessage) { %>
                                              <div id="errorMessage" class="alert alert-danger text-center mt-5" role="alert">
                                                <%= errMessage %>
                                              </div>
                                            <% } else { %>
                                              <small>                                                Enter a strong password (Must contain 8 characters; should include at least one special character, one uppercase letter, and one number)
                                              </small>
                                              <% } %>
                                            
                                        </div>
                                        <form method="post" onsubmit="return resetpasswordVallidation()">
                                              <div class="form-group">
                                                <input type="password" class="form-control" name="password" id="password" placeholder="New Password">
                                                <small id="passwordError"></small>
                                              </div>
  
                                              <div class="form-group">
                                                  <input type="password" name="confirmPassword" placeholder="Confirm New password" id="confirmPassword">
                                                  <small id="confirmPasswordError"></small>
                                              </div>                                              
                                          <div class="form-group">
                                            <button type="submit" class="btn btn-fill-out btn-block hover-up">Submit</button>
                                          </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

<%-include("footer")-%>

